<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

</body>
<h1> ABOUT ME</h1>
<h2>Hi again ,

    I have experience working with Python, Flask, HTML, CSS, and JavaScript, and I enjoy creating clean, functional, and
    visually appealing projects.

    My journey in tech started with a curiosity to understand how software works — and it’s grown into a deep interest
    in backend development and user interface design.

    When I’m not coding, I love exploring new technologies, designing graphics.

    I’m always open to collaboration and continuous learning opportunities
</h2>
<h1>skills</h1>Python / Flask

HTML / CSS / JavaScript

Git & GitHub

API Integration

UI/UX Basics</h2>

</html>