<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Html interior -->
    <img src="../static/image/WhatsApp Image 2025-08-27 at 12.44.19_0f0e47b8.jpg">
</body>
<h2>Hi, I’m Subair Risqiat Oluwafisayo, a passionate python programmer who enjoys turning ideas into functional and
    creative solutions.

    This portfolio highlights some of my favorite projects, skills, and experiences in programming and technology.

    Feel free to explore my work and reach out if you’d like to collaborate or learn more about what I do.
</h2>

</html>